@using EntityLayer;
@model List<ContactInformationModel>;

<div class="pbmit-header-overlay">
        <div class="container-fuild">
            <div class="pre-header">
                <div class="container-fuild">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="pbmit-pre-header-left">
                        </div>
                        <div class="pbmit-pre-header-right">
                            @foreach (var item in Model)
                        {
          
                            <ul class="pbmit-contact-info">
                                <li>
                                <i class="pbmit-base-icon-mail-alt"></i> Email  : @item.Email
                                </li>
                                <li>
                                <i class="pbmit-base-icon-phone-volume-solid"></i> Telefon : @item.PhoneNumber01
                                </li>
                                <li>
                                    <ul class="pbmit-social-links">
                                        <li class="pbmit-social-li pbmit-social-facebook">
                                        <a href="@item.FacebookLink" target="_blank">
                                                <i class="pbmit-base-icon-facebook-squared"></i>
                                            </a>
                                        </li>
                                        <li class="pbmit-social-li pbmit-social-linkedin">
                                        <a href="@item.lınkedinLink" target="_blank">
                                                <i class="pbmit-base-icon-linkedin-squared"></i>
                                            </a>
                                        </li>
                                    <li class="pbmit-social-li pbmit-social-instagram">
                                        <a href="@item.InstagramLink" target="_blank">
                                            <i class="pbmit-base-icon-instagram"></i>
                                        </a>
                                    </li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        </div>
                    </div>
                </div>
            </div>